*.opendb
*.vs
# Directories
**bin/
**bin-int/
**objects/
**images/
**Dependencies/TINYGLTF/
**Dependencies/TINYLOADER/

# Files
*.user
*imgui.ini
*test.cpp
*BufferData.cpp
*LoadGLTF.cpp
*Shade.cpp
*Shaders.cpp

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user